<% layout('layouts/boilerplate') %>
<div id="clusterMap" class="mb-3 noTextShadow rounded"></div>
<% for (let voiture of voitures){ %>
<div class="card mb-3 nightBG">
	<div class="card m-3 neonBG">
		<div class="row">
			<div class="col-md-4">
				<% if (voiture.images.length) { %>
				<img class="img-fluid" alt="" src="<%= voiture.images[0].url %>">
				<% } else { %>
				<img class="img-fluid" alt="" src="">
				<% } %>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title mdText contentFont"><%= voiture.nom %></h5>
					<p class="card-text smText contentFont"><%= voiture.sommaire.substring(0, 200) %>...</p>
					<p class="card-text">
						<span class="smText contentFont"><%= voiture.localisation %></span>		
					</p>
					<a class="neonBtn mdBtn" href="/voitures/<%= voiture._id %>">Voir <%= voiture.nom %></a>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
<script>
	const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
	const voitures = { features: <%- JSON.stringify(voitures) %> };
</script>
<script src="/scripts/clusterMap.js"></script>