<% layout('layouts/boilerplate') %>
<div id="clusterMap" class="mb-3 noTextShadow rounded"></div>
<div id="voitures-container">
	<% for (let voiture of voitures.docs){ %>
	<div class="card mb-3 nightBG">
		<div class="card m-3 neonBG">
			<div class="row">
				<div class="col-md-4">
					<% if (voiture.images.length) { %>
					<img class="img-fluid" alt="" src="<%= voiture.images[0].url %>">
					<% } else { %>
					<img class="img-fluid" alt="" src="">
					<% } %>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title mdText contentFont"><%= voiture.nom %></h5>
						<p class="card-text smText contentFont"><%= voiture.sommaire.substring(0, 200) %>...</p>
						<p class="card-text">
							<span class="smText contentFont"><%= voiture.localisation %></span>		
						</p>
						<a class="neonBtn mdBtn" href="/voitures/<%= voiture._id %>">Voir <%= voiture.nom %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>
<div class="text-center my-4">
	<a id="paginate" class="neonBtn mdBtn" href="/voitures?page=<%= voitures.nextPage %>">Voir Plus</a>
</div>
<script>
	const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
	const voitures = { features: <%- JSON.stringify(voitures.docs) %> };
</script>
<script src="/scripts/clusterMap.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/pagination.js"></script>